.hidepics {width:0px; height:0px; display:none;}

body{
	/*background-color:#FDFEFF !important;*/
	background-color:  #0f172a;
	font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
	color:#333333;	
	font-size:14px;
	margin:0;
	text-align:center;
}

a:link, a:visited { color: #035aa6; }
a:active, a:hover  { color: #000090; }
a {text-decoration: none;}
h1 { font-weight: normal; font-size: 24px; margin: 0px 0 0px 0; }
h2 { font-weight: bold; font-size: 24px; margin: 0px 0 0px 0; }
h3 { font-weight: normal; font-size: 16px; margin: 0px 0 8px 0; }
h4 { font-weight: normal; font-size: 14px; margin: 0px 0 0px 0; }
h5 { font-weight: normal; font-size: 14px; margin: 0px 0 8px 0; }
h6 { font-weight: normal; font-size: 14px; margin: 0px 0 0px 0; }

#top	{	
	position:fixed;
	/*background-color:#21578a;*/
	background-color: #1e1e2e;
	top:0px;
	left:0px;
	width:100%;
	/*border-bottom:2px solid #555555;*/
	z-index:5;
}

.header	{
	color:#FDFEFF;
	font-size: 23px;
	padding: 0 10px;
	/*padding: 0 60px;*/
}

.header_container {
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_container button {
	background-color: #1e1e2e;
	border: 0;
	cursor: pointer;
}

.header_container p {
	margin-left: 50px;
}

.header_container button img {
	width: 30px;
	height: 30px;
}

.logo {
	font-family: 'Arial', sans-serif;
}

.logo #logo_red {
	color: rgb(255, 64, 64);
}

.logo #logo_grey {
	color: grey;
}

.header_menu {
	position: absolute;
	background-color: #1e1e2e;
	width: 100%;
	color:white;
	font-size: 17px;
	transition: opacity 0.3s ease, transform 0.3s ease;
	opacity: 0;
	transform: translateY(-20px); 
}

.header_menu.active {
	opacity: 1;
  	transform: translateY(0);
}

.header_menu_container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header_table {
	padding: 15px;
}

.header_table td {
	text-align: center;
}

#hr1	{
	position:relative;
	background-color:#555555;
	height:0px;
	width:100%;
}

#content {
	position:relative;
	top:100px;
}

.content_container {
	text-align: center;
}

.content_container a #close_window {
	width: 16px;
	height: 16px;
	vertical-align: middle;
	border-radius: 50%;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

#version {
	color:#FDFEFF;
	font-size:12px;
	font-weight:bold;
}

#counter {
	text-align: center;
	font-size:32px;
	font-weight:bold;
}

#closebutton {
	display:none;
	visibility:hidden;
	position:absolute;
	top:0px;
	left:0px;
	margin:5px;
	z-index:4;
}

.topleftbuttons {
	position:absolute;
	top:0px;
	margin:3px;
	float:left;
	left:0px;
}

.visbutton {
	width:170px;
	margin:3px;
}

.toprightbuttons {
	position:absolute;
	top:0px;
	margin:10px;
	float:right;
	right:0px;
}

.contentcell, .detailicons, .detailimage, .detailheadline, .detailcontent {
	background-color:#EFF5FB;
	color:#555555;
	border-style:solid;
	border-color:#21578a;
	padding:15px;
}

.contentcell {
	border-top-width:0px;
	border-left-width:0px;
	border-bottom-width:0px;
	border-right-width:0px;
}

.detailicons {
	border-top-width:2px;
	border-left-width:0px;
	border-bottom-width:0px;
	border-right-width:2px;
	font-size:30px;
}

.detailimage {
	border-top-width:2px;
	border-left-width:2px;
	border-bottom-width:2px;
	border-right-width:0px;
}

.detailheadline {
	border-top-width:2px;
	border-left-width:0px;
	border-bottom-width:0px;
	border-right-width:0px;
}

.detailcontent {
	border-top-width:0px;
	border-left-width:0px;
	border-bottom-width:2px;
	border-right-width:2px;
}

table.detail{
	position:absolute;
	display:none;
	visibility:hidden;
	z-index:3;
}

.container 	{
	margin: 0 auto;
	width:100%;
	position:relative;
	padding:0;
	height:auto;	
	text-align:left;
}

.image {
	border: 0 solid white;
	-webkit-box-shadow: 3px 3px 8px #000000;
	-moz-box-shadow: 3px 3px 8px #000000;
	box-shadow: 3px 3px 8px #000000;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: 100;
	margin: 7px;
	background: white;
}

a:hover .image, a:active .image {	
	-webkit-box-shadow: 2px 2px 5px #000000;
	-moz-box-shadow: 2px 2px 5px #000000;
	box-shadow: 2px 2px 5px #000000;
}

span.previewtt, a.filterbutton span {
	display:none;
	visibility:hidden;
	padding:2px 3px;
	margin-left:8px;
	background:#ffffff;
	border:1px solid #cccccc;
	color:#6c6c6c;
	position:absolute;
	z-index: 3;
}

.search {
	display: flex;
	flex-wrap: nowrap;
	gap: 5px;
}

.search input {
	border: 0px;
	height: 20px;
	border-radius: 2px;
}

.search a img{
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
}

.filterbutton {
	display:block;
	width:40px;
	height:40px;
}

ul.noindent {
	margin-top: 0px;
	padding-left: 20px;
}